/* ===== Learn Page ===== */

.learn-page {
  max-width: 900px;
  padding: 0 24px;

  margin: 0 auto;

  box-sizing: border-box;
}

.learn-title {
  margin-top: 48px;
  font-weight: normal;
  letter-spacing: 0.08em;
  text-align: center;
  position: relative;

  margin-bottom: 72px;

  letter-spacing: 0.08em;
}

/* 下の斜線ライン */

.learn-title::after {
  content: "";

  display: block;

  width: 100%;
  max-width: 900px;

  height: 8px;

  margin: 32px auto 0;

  background: repeating-linear-gradient(
    -45deg,
    #F5F8CC,
    #F5F8CC 4px,
    transparent 4px,
    transparent 8px
  );
}

/* ===== 曲一覧 ===== */

.learn-song-list {
  margin-top: 48px;
  padding-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 24px;
}

.learn-song-link {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.learn-song-link a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 12px;

  color: #222;
  text-decoration: none;

  font-size: 20px;
}

.learn-song-link a:hover {
  opacity: 0.6;
}

.learn-song-name {
  margin: 48px;
  font-weight: normal;
}

.back-link {
  text-align: center;
}

.button-01 button {
  font-family: "Kaisei Decol", serif;

  font-size: 14px;
  letter-spacing: 0.1em;

  color: #333;
  font-weight: 400;

  outline: 1px solid #333;

  background: transparent;
  border: none;

  display: block;
  position: relative;

  box-sizing: border-box;

  padding: 16px 48px;

  margin: 32px auto;

  text-decoration: none;

  cursor: pointer;

  z-index: 999;

  transition: all 0.3s;
}

.button-01 button::before {
  content: "";

  position: absolute;

  top: 6px;
  left: 6px;

  width: 100%;
  height: 100%;

  background: #f1f6eb;

  z-index: -1;

  transition: all 0.3s ease;
}

.button-01 button:hover::before {
  top: 0;
  left: 0;
}

.key.hint {
  animation: hintBlink 1.8s ease 2;
}

@keyframes hintBlink {

  0% {
    background: #fffbc9;
  }

  50% {
    background: inherit;
  }

  100% {
    background: #fffbc9;
  }

}

.learn-progress {
  min-height: 24px;
  margin-bottom: 12px;
}

.learn-back-link {
  margin-top: 48px;
  margin-bottom: 12px;

  text-align: center;
}

.learn-back-link a {
  color: #666;
  text-decoration: none;

  font-size: 20px;
  letter-spacing: 0.05em;

  transition: opacity 0.15s ease;
}

.learn-back-link a:hover {
  opacity: 0.6;
}

.learn-back-link-last {
  margin-top: 24px;
  margin-bottom: 48px;
}

.learn-back-link-last a {
  color: #666;
  text-decoration: none;

  font-size: 20px;
  letter-spacing: 0.05em;

  transition: opacity 0.15s ease;
}

.learn-back-link-last a:hover {
  opacity: 0.6;
}

/* ===== スマホ ===== */

@media (max-width: 768px) {
  .learn-song-list {
    grid-template-columns: 1fr;
  }
}
